# EDA for data from Zillow

All data is Monthly data

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# get path and file name for downloaded Zillow csv files
zillow_path = '../data/zillow'
zillow_csv_files = os.listdir(zillow_path)

In [3]:
zillow_path_and_file = [os.path.join(zillow_path, csv) for csv in zillow_csv_files]

In [4]:
metro_ZillowHomeValueIndex_raw = pd.read_csv(zillow_path_and_file[0])

zhvi_met_raw = metro_ZillowHomeValueIndex_raw.set_index('RegionName').iloc[:,4:]
zhvi_met_raw.head()

,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,2000-10-31,...,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31
RegionName,,,,,,,,,,,,,,,,,,,,,
United States,127383.510653,127987.419174,128714.119054,129513.378629,130322.314480,131129.467189,131991.884905,132841.958839,133631.972245,134390.800843,...,268438.407964,271176.862825,273948.300770,277833.878762,281907.631290,286523.833005,293062.941422,299169.920131,304025.099875,308031.193520
"New York, NY",226423.616825,228953.455146,231208.532260,233302.926841,235671.507702,238416.939508,241243.184682,243548.020541,246255.023722,248505.287825,...,512954.571217,518090.525755,521446.300772,526797.657607,531844.539555,538228.933515,546598.811929,556093.838140,562944.263244,568232.697847
"Los Angeles-Long Beach-Anaheim, CA",233235.518038,234530.434150,237670.372804,240475.474938,242823.151762,246035.255300,248240.237527,250778.394090,253006.679830,254417.524558,...,738133.420792,744377.523489,753401.796231,765058.875337,770680.293134,791095.520285,814358.471902,832702.984401,845829.910239,845320.383089
"Chicago, IL",170780.818536,171449.044616,172346.939078,173787.987455,174945.870621,176389.161286,178110.099009,179457.457511,180758.775378,182163.867285,...,256024.321695,258185.286254,258724.838106,263686.098096,266396.665563,271032.814613,274934.244715,280159.100736,284018.725525,286022.815824
"Dallas-Fort Worth, TX",130300.721854,130442.475752,130536.084896,130835.133783,131124.969269,131128.245242,131539.543219,131991.452298,132155.662833,132824.067129,...,273795.445007,276808.726749,278296.160296,284495.841938,290011.593559,297657.317675,306426.207302,314044.870339,321709.552683,328741.080282

In [5]:
metro_ZillowHomeValueIndex_smoothed_seasonalAdjusted = pd.read_csv(zillow_path_and_file[1])

zhvi_met_smooth = metro_ZillowHomeValueIndex_smoothed_seasonalAdjusted.set_index('RegionName').iloc[:,4:]
zhvi_met_smooth.head()

,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,2000-10-31,...,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31
RegionName,,,,,,,,,,,,,,,,,,,,,
United States,127566.0,127911.0,128274.0,129013.0,129758.0,130502.0,131260.0,132068.0,132894.0,133725.0,...,266106.0,269158.0,272126.0,275240.0,278586.0,282328.0,286906.0,292296.0,298061.0,303288.0
"New York, NY",225655.0,227004.0,228217.0,230605.0,232828.0,235196.0,237683.0,240257.0,242840.0,245395.0,...,508991.0,514847.0,519694.0,524467.0,528751.0,533497.0,538959.0,546165.0,554085.0,561677.0
"Los Angeles-Long Beach-Anaheim, CA",231144.0,231949.0,233181.0,235525.0,238038.0,240411.0,242841.0,245392.0,247821.0,250043.0,...,729581.0,735915.0,741022.0,748618.0,756229.0,767381.0,782911.0,803088.0,823792.0,837312.0
"Chicago, IL",171442.0,171847.0,172370.0,173418.0,174528.0,175629.0,176846.0,178212.0,179623.0,181012.0,...,256458.0,258700.0,260180.0,262503.0,264616.0,267679.0,270431.0,274239.0,278451.0,282568.0
"Dallas-Fort Worth, TX",130465.0,130569.0,130656.0,130868.0,131090.0,131276.0,131475.0,131842.0,132298.0,132829.0,...,272628.0,275228.0,277513.0,280956.0,284971.0,290501.0,296878.0,304143.0,311928.0,320045.0

In [6]:
zillowHomeValueForecasts_raw = pd.read_csv(zillow_path_and_file[2])

zhvf_raw_zip = zillowHomeValueForecasts_raw[zillowHomeValueForecasts_raw['Region'] == 'Zip']
zhvf_raw_zip = zhvf_raw_zip.set_index('RegionName').iloc[:,1:]

zhvf_raw_metro = zillowHomeValueForecasts_raw[zillowHomeValueForecasts_raw['Region'] == 'Msa']
zhvf_raw_metro = zhvf_raw_metro.drop(columns={'CountyName', 'CityName'})
zhvf_raw_metro = zhvf_raw_metro.set_index('RegionName').iloc[:,1:]

print(zhvf_raw_metro.head())
zhvf_raw_zip.head()

                StateName ForecastedDate  ForecastYoYPctChange
RegionName
Akron, OH              OH     2022-08-31                  10.3
Albany, NY             NY     2022-08-31                   9.5
Albuquerque, NM        NM     2022-08-31                  13.6
Allentown, PA          PA     2022-08-31                  12.9
Atlanta, GA            GA     2022-08-31                  15.0

,StateName,CountyName,CityName,ForecastedDate,ForecastYoYPctChange
RegionName,,,,,
27013,NC,Rowan County,Cleveland,2022-08-31,13.2
27054,NC,Rowan County,Woodleaf,2022-08-31,11.9
27502,NC,Wake County,Apex,2022-08-31,30.4
27504,NC,Johnston County,Benson,2022-08-31,27.9
27508,NC,Franklin County,Bunn,2022-08-31,27.8

In [7]:
zillowHomeValueForecasts_smoothed_seasonalAdjusted = pd.read_csv(zillow_path_and_file[3])

zhvf_smooth_zip = zillowHomeValueForecasts_smoothed_seasonalAdjusted[zillowHomeValueForecasts_smoothed_seasonalAdjusted['Region'] == 'Zip']
zhvf_smooth_zip = zhvf_smooth_zip.set_index('RegionName').iloc[:,1:]

zhvf_smooth_metro = zillowHomeValueForecasts_smoothed_seasonalAdjusted[zillowHomeValueForecasts_smoothed_seasonalAdjusted['Region'] == 'Msa']
zhvf_smooth_metro = zhvf_smooth_metro.drop(columns={'CountyName', 'CityName'})
zhvf_smooth_metro = zhvf_smooth_metro.set_index('RegionName').iloc[:,1:]

print(zhvf_smooth_metro.head())
zhvf_smooth_zip.head()

                StateName ForecastedDate  ForecastYoYPctChange
RegionName
Akron, OH              OH     2022-08-31                  10.4
Albany, NY             NY     2022-08-31                  10.1
Albuquerque, NM        NM     2022-08-31                  14.0
Allentown, PA          PA     2022-08-31                  13.4
Atlanta, GA            GA     2022-08-31                  16.8

,StateName,CountyName,CityName,ForecastedDate,ForecastYoYPctChange
RegionName,,,,,
27013,NC,Rowan County,Cleveland,2022-08-31,13.8
27054,NC,Rowan County,Woodleaf,2022-08-31,11.9
27502,NC,Wake County,Apex,2022-08-31,33.4
27504,NC,Johnston County,Benson,2022-08-31,29.3
27508,NC,Franklin County,Bunn,2022-08-31,29.5

In [8]:
zipCode_ZillowHomeValueIndex_smoothed_seasonalAdjusted = pd.read_csv(zillow_path_and_file[4])

zhvi_met_smooth = zipCode_ZillowHomeValueIndex_smoothed_seasonalAdjusted.set_index('RegionName').iloc[:,8:]
zhvi_met_smooth.head()

,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,2000-10-31,...,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31
RegionName,,,,,,,,,,,,,,,,,,,,,
10025,329121.0,334059.0,338019.0,346657.0,354457.0,361917.0,369769.0,376112.0,381673.0,386586.0,...,1093037.0,1127372.0,1121064.0,1110998.0,1099806.0,1107533.0,1114251.0,1115204.0,1119620.0,1127675.0
60657,311929.0,313378.0,315344.0,319125.0,322989.0,326767.0,330668.0,335062.0,338888.0,342690.0,...,500225.0,502851.0,503891.0,505210.0,505244.0,507160.0,507826.0,510428.0,514248.0,518202.0
10023,500887.0,504739.0,507445.0,514136.0,522082.0,532837.0,543268.0,551851.0,557627.0,564580.0,...,1486747.0,1485429.0,1466975.0,1456323.0,1442068.0,1453164.0,1454137.0,1454892.0,1457717.0,1468826.0
77494,225325.0,225644.0,226370.0,227601.0,227163.0,226825.0,225702.0,226045.0,225646.0,226321.0,...,350432.0,354939.0,358995.0,363611.0,369082.0,375735.0,382697.0,391365.0,402167.0,413199.0
60614,405926.0,407067.0,409223.0,412990.0,417544.0,421908.0,426505.0,431388.0,435548.0,440519.0,...,639551.0,642996.0,643988.0,645551.0,645691.0,648002.0,647952.0,650415.0,654356.0,659224.0