# EDA for data from Zillow

All data is Monthly data

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# get path and file name for downloaded Zillow csv files
zillow_path = '../data/zillow'
zillow_csv_files = os.listdir(zillow_path)

In [3]:
zillow_path_and_file = [os.path.join(zillow_path, csv) for csv in zillow_csv_files]
zillow_path_and_file

['../data/zillow\\City_ZillowHomeValueIndex_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv',
 '../data/zillow\\County_ZillowHomeValueIndex_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv',
 '../data/zillow\\Metro_ZillowHomeValueIndex_uc_sfrcondo_tier_0.33_0.67_month_raw.csv',
 '../data/zillow\\Metro_ZillowHomeValueIndex_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv',
 '../data/zillow\\Neighborhood_ZillowHomeValueIndex_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv',
 '../data/zillow\\ZillowHomeValueForecasts_uc_sfrcondo_tier_0.33_0.67_month_raw.csv',
 '../data/zillow\\ZillowHomeValueForecasts_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv',
 '../data/zillow\\Zip_ZillowHomeValueIndex_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv']

In [4]:
metro_ZillowHomeValueIndex_raw = pd.read_csv(zillow_path_and_file[2])

zhvi_met_raw = metro_ZillowHomeValueIndex_raw.set_index('RegionName').iloc[:,4:]
zhvi_met_raw.head()

,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,2000-10-31,...,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31
RegionName,,,,,,,,,,,,,,,,,,,,,
United States,127383.510653,127987.419174,128714.119054,129513.378629,130322.314480,131129.467189,131991.884905,132841.958839,133631.972245,134390.800843,...,268438.407964,271176.862825,273948.300770,277833.878762,281907.631290,286523.833005,293062.941422,299169.920131,304025.099875,308031.193520
"New York, NY",226423.616825,228953.455146,231208.532260,233302.926841,235671.507702,238416.939508,241243.184682,243548.020541,246255.023722,248505.287825,...,512954.571217,518090.525755,521446.300772,526797.657607,531844.539555,538228.933515,546598.811929,556093.838140,562944.263244,568232.697847
"Los Angeles-Long Beach-Anaheim, CA",233235.518038,234530.434150,237670.372804,240475.474938,242823.151762,246035.255300,248240.237527,250778.394090,253006.679830,254417.524558,...,738133.420792,744377.523489,753401.796231,765058.875337,770680.293134,791095.520285,814358.471902,832702.984401,845829.910239,845320.383089
"Chicago, IL",170780.818536,171449.044616,172346.939078,173787.987455,174945.870621,176389.161286,178110.099009,179457.457511,180758.775378,182163.867285,...,256024.321695,258185.286254,258724.838106,263686.098096,266396.665563,271032.814613,274934.244715,280159.100736,284018.725525,286022.815824
"Dallas-Fort Worth, TX",130300.721854,130442.475752,130536.084896,130835.133783,131124.969269,131128.245242,131539.543219,131991.452298,132155.662833,132824.067129,...,273795.445007,276808.726749,278296.160296,284495.841938,290011.593559,297657.317675,306426.207302,314044.870339,321709.552683,328741.080282

In [5]:
metro_ZillowHomeValueIndex_smoothed_seasonalAdjusted = pd.read_csv(zillow_path_and_file[3])

zhvi_met_smooth = metro_ZillowHomeValueIndex_smoothed_seasonalAdjusted.set_index('RegionName').iloc[:,4:]
zhvi_met_smooth.head()

,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,2000-10-31,...,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31
RegionName,,,,,,,,,,,,,,,,,,,,,
United States,127566.0,127911.0,128274.0,129013.0,129758.0,130502.0,131260.0,132068.0,132894.0,133725.0,...,266106.0,269158.0,272126.0,275240.0,278586.0,282328.0,286906.0,292296.0,298061.0,303288.0
"New York, NY",225655.0,227004.0,228217.0,230605.0,232828.0,235196.0,237683.0,240257.0,242840.0,245395.0,...,508991.0,514847.0,519694.0,524467.0,528751.0,533497.0,538959.0,546165.0,554085.0,561677.0
"Los Angeles-Long Beach-Anaheim, CA",231144.0,231949.0,233181.0,235525.0,238038.0,240411.0,242841.0,245392.0,247821.0,250043.0,...,729581.0,735915.0,741022.0,748618.0,756229.0,767381.0,782911.0,803088.0,823792.0,837312.0
"Chicago, IL",171442.0,171847.0,172370.0,173418.0,174528.0,175629.0,176846.0,178212.0,179623.0,181012.0,...,256458.0,258700.0,260180.0,262503.0,264616.0,267679.0,270431.0,274239.0,278451.0,282568.0
"Dallas-Fort Worth, TX",130465.0,130569.0,130656.0,130868.0,131090.0,131276.0,131475.0,131842.0,132298.0,132829.0,...,272628.0,275228.0,277513.0,280956.0,284971.0,290501.0,296878.0,304143.0,311928.0,320045.0

In [6]:
zillowHomeValueForecasts_raw = pd.read_csv(zillow_path_and_file[5])

zhvf_raw_zip = zillowHomeValueForecasts_raw[zillowHomeValueForecasts_raw['Region'] == 'Zip']
zhvf_raw_zip = zhvf_raw_zip.rename(columns={'RegionName': 'ZipCode'})
zhvf_raw_zip = zhvf_raw_zip.set_index('ZipCode').iloc[:,1:]
# zhvf_raw_zip = zhvf_raw_zip.set_index('RegionName').iloc[:,1:]


zhvf_raw_metro = zillowHomeValueForecasts_raw[zillowHomeValueForecasts_raw['Region'] == 'Msa']
zhvf_raw_metro = zhvf_raw_metro.drop(columns={'CountyName', 'CityName'})
zhvf_raw_metro = zhvf_raw_metro.set_index('RegionName').iloc[:,1:]

print(zhvf_raw_metro.head())
zhvf_raw_zip.head()

                StateName ForecastedDate  ForecastYoYPctChange
RegionName
Akron, OH              OH     2022-08-31                  10.3
Albany, NY             NY     2022-08-31                   9.5
Albuquerque, NM        NM     2022-08-31                  13.6
Allentown, PA          PA     2022-08-31                  12.9
Atlanta, GA            GA     2022-08-31                  15.0

,StateName,CountyName,CityName,ForecastedDate,ForecastYoYPctChange
ZipCode,,,,,
27013,NC,Rowan County,Cleveland,2022-08-31,13.2
27054,NC,Rowan County,Woodleaf,2022-08-31,11.9
27502,NC,Wake County,Apex,2022-08-31,30.4
27504,NC,Johnston County,Benson,2022-08-31,27.9
27508,NC,Franklin County,Bunn,2022-08-31,27.8

In [7]:
zillowHomeValueForecasts_smoothed_seasonalAdjusted = pd.read_csv(zillow_path_and_file[6])

zhvf_smooth_zip = zillowHomeValueForecasts_smoothed_seasonalAdjusted[zillowHomeValueForecasts_smoothed_seasonalAdjusted['Region'] == 'Zip']
zhvf_smooth_zip = zhvf_smooth_zip.set_index('RegionName').iloc[:,1:]

zhvf_smooth_metro = zillowHomeValueForecasts_smoothed_seasonalAdjusted[zillowHomeValueForecasts_smoothed_seasonalAdjusted['Region'] == 'Msa']
zhvf_smooth_metro = zhvf_smooth_metro.drop(columns={'CountyName', 'CityName'})
zhvf_smooth_metro = zhvf_smooth_metro.set_index('RegionName').iloc[:,1:]

print(zhvf_smooth_metro.head())
zhvf_smooth_zip.head()

                StateName ForecastedDate  ForecastYoYPctChange
RegionName
Akron, OH              OH     2022-08-31                  10.4
Albany, NY             NY     2022-08-31                  10.1
Albuquerque, NM        NM     2022-08-31                  14.0
Allentown, PA          PA     2022-08-31                  13.4
Atlanta, GA            GA     2022-08-31                  16.8

,StateName,CountyName,CityName,ForecastedDate,ForecastYoYPctChange
RegionName,,,,,
27013,NC,Rowan County,Cleveland,2022-08-31,13.8
27054,NC,Rowan County,Woodleaf,2022-08-31,11.9
27502,NC,Wake County,Apex,2022-08-31,33.4
27504,NC,Johnston County,Benson,2022-08-31,29.3
27508,NC,Franklin County,Bunn,2022-08-31,29.5

In [8]:
zipCode_ZillowHomeValueIndex_smoothed_seasonalAdjusted = pd.read_csv(zillow_path_and_file[4])

zhvi_met_smooth_zip = zipCode_ZillowHomeValueIndex_smoothed_seasonalAdjusted.rename(columns={'RegionName': 'ZipCode'}).set_index('ZipCode').iloc[:,8:]
zhvi_met_smooth_zip.head()

,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,2000-10-31,...,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31
ZipCode,,,,,,,,,,,,,,,,,,,,,
Northeast Dallas,152919.0,153015.0,153045.0,153298.0,153473.0,153779.0,154249.0,154986.0,155785.0,156373.0,...,349511.0,352199.0,356725.0,362165.0,367250.0,371000.0,374851.0,380332.0,385945.0,395018.0
Maryvale,83271.0,83607.0,84020.0,84917.0,85818.0,86600.0,87381.0,88195.0,89074.0,89824.0,...,217745.0,221874.0,227592.0,230860.0,236779.0,241819.0,250354.0,257117.0,264016.0,269076.0
Paradise,152657.0,152616.0,152943.0,153584.0,154334.0,154980.0,155506.0,156137.0,156790.0,157466.0,...,288884.0,292090.0,295361.0,298475.0,301960.0,306035.0,313424.0,323097.0,332994.0,341428.0
Upper West Side,391890.0,395925.0,398685.0,405754.0,413239.0,421867.0,429804.0,435962.0,441136.0,446406.0,...,1366798.0,1381298.0,1371749.0,1366293.0,1358496.0,1372387.0,1374302.0,1373921.0,1375277.0,1386160.0
South Los Angeles,154000.0,153887.0,154138.0,154793.0,155805.0,156717.0,157620.0,158443.0,159404.0,160063.0,...,577806.0,579954.0,582101.0,587633.0,595565.0,604113.0,614690.0,626421.0,641772.0,653719.0

In [9]:
zipCode_ZillowHomeValueIndex_smoothed_seasonalAdjusted = pd.read_csv(zillow_path_and_file[7])

zhvi_met_smooth_city = zipCode_ZillowHomeValueIndex_smoothed_seasonalAdjusted.rename(columns={'RegionName': 'ZipCode'})#.set_index('ZipCode')
# zhvi_met_smooth_city = zhvi_met_smooth_city.drop(columns={'RegionID', 'SizeRank', 'RegionType', 'StateName', 'State', 'City', 'Metro', 'CountyName'})
zhvi_met_smooth_city = zhvi_met_smooth_city.drop(columns={'RegionID', 'ZipCode', 'SizeRank', 'RegionType', 'StateName', 'State', 'Metro', 'CountyName'})
zhvi_met_smooth_city = zhvi_met_smooth_city.groupby(['City'])#, 'ZipCode'])

zhvi_met_smooth_city.mean()

,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,2000-10-31,...,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31
City,,,,,,,,,,,,,,,,,,,,,
Abbeville,51311.0,51222.5,51248.0,51193.5,51336.0,51483.0,51679.5,51941.0,52199.0,52490.0,...,119343.8,119924.2,120470.8,121253.0,121831.2,122454.4,122686.0,123253.2,123683.8,124352.4
Abbot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,128137.0,128475.0,128780.0,130004.0,131297.0,132453.0,133519.0,135265.0,136732.0,137609.0
Abbotsford,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,120213.0,121989.0,123127.0,123867.0,124726.0,125775.0,126883.0,127794.0,128849.0,129766.0
Abbott,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,157426.0,158701.0,159413.0,160286.0,161063.0,162257.0,162802.0,163355.0,163986.0,164981.0
Abbyville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,115299.0,116465.0,118478.0,119657.0,120167.0,120057.0,120578.0,122654.0,124254.0,124894.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zumbro Falls,151265.0,152281.0,153128.0,155443.0,156960.0,157618.0,159554.0,160801.0,162650.0,160372.0,...,315081.0,318461.0,321924.0,323878.0,326342.0,329030.0,331991.0,334225.0,336279.0,337289.0
Zumbrota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,259963.0,263656.0,268455.0,272425.0,275130.0,275611.0,278019.0,283076.0,290041.0,293449.0
Zuni,102111.0,101930.0,102052.0,102215.0,103093.0,103914.0,105037.0,106329.0,107273.0,108163.0,...,235568.0,237762.0,240291.0,242327.0,243986.0,245349.0,247171.0,248932.0,250885.0,252089.0
Zwingle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,213769.0,213987.0,214582.0,216104.0,218050.0,219499.0,220585.0,222184.0,224357.0,225130.0
Zwolle,140439.0,143135.0,143082.0,143852.0,141842.0,139968.0,138082.0,137683.0,139702.0,141612.0,...,123524.0,120148.0,117126.0,114637.0,115608.0,116125.0,115847.0,115623.0,115713.0,115946.0

In [10]:
zhvi_met_smooth_city.median()

,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,2000-10-31,...,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31
City,,,,,,,,,,,,,,,,,,,,,
Abbeville,51311.0,51222.5,51248.0,51193.5,51336.0,51483.0,51679.5,51941.0,52199.0,52490.0,...,136449.0,136022.0,136732.0,137382.0,137935.0,138556.0,138826.0,139909.0,140738.0,141543.0
Abbot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,128137.0,128475.0,128780.0,130004.0,131297.0,132453.0,133519.0,135265.0,136732.0,137609.0
Abbotsford,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,120213.0,121989.0,123127.0,123867.0,124726.0,125775.0,126883.0,127794.0,128849.0,129766.0
Abbott,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,157426.0,158701.0,159413.0,160286.0,161063.0,162257.0,162802.0,163355.0,163986.0,164981.0
Abbyville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,115299.0,116465.0,118478.0,119657.0,120167.0,120057.0,120578.0,122654.0,124254.0,124894.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zumbro Falls,151265.0,152281.0,153128.0,155443.0,156960.0,157618.0,159554.0,160801.0,162650.0,160372.0,...,315081.0,318461.0,321924.0,323878.0,326342.0,329030.0,331991.0,334225.0,336279.0,337289.0
Zumbrota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,259963.0,263656.0,268455.0,272425.0,275130.0,275611.0,278019.0,283076.0,290041.0,293449.0
Zuni,102111.0,101930.0,102052.0,102215.0,103093.0,103914.0,105037.0,106329.0,107273.0,108163.0,...,235568.0,237762.0,240291.0,242327.0,243986.0,245349.0,247171.0,248932.0,250885.0,252089.0
Zwingle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,213769.0,213987.0,214582.0,216104.0,218050.0,219499.0,220585.0,222184.0,224357.0,225130.0
Zwolle,140439.0,143135.0,143082.0,143852.0,141842.0,139968.0,138082.0,137683.0,139702.0,141612.0,...,123524.0,120148.0,117126.0,114637.0,115608.0,116125.0,115847.0,115623.0,115713.0,115946.0

In [11]:
city_ZillowHomeValueIndex_smoothed_seasonalAdjusted = pd.read_csv(zillow_path_and_file[0])

zhvi_met_raw = city_ZillowHomeValueIndex_smoothed_seasonalAdjusted.set_index('RegionName').iloc[:,4:]
zhvi_met_raw.head()

,State,Metro,CountyName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,...,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31
RegionName,,,,,,,,,,,,,,,,,,,,,
New York,NY,New York-Newark-Jersey City,Queens County,253249.0,255073.0,256760.0,259857.0,262747.0,265743.0,268856.0,...,697714.0,700679.0,702756.0,703848.0,704879.0,706453.0,709528.0,713362.0,717986.0,722787.0
Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,234677.0,234897.0,236012.0,238093.0,240622.0,242935.0,245323.0,...,794456.0,798951.0,802036.0,810094.0,818339.0,831152.0,847234.0,867472.0,889453.0,902989.0
Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,108399.0,108409.0,108209.0,108212.0,108166.0,108396.0,108616.0,...,205354.0,207443.0,209470.0,211834.0,212991.0,214623.0,216649.0,221095.0,226014.0,231326.0
Chicago,IL,Chicago-Naperville-Elgin,Cook County,169531.0,169935.0,170784.0,172272.0,173980.0,175519.0,177141.0,...,282186.0,283832.0,284349.0,286605.0,288216.0,291083.0,292094.0,294217.0,296691.0,299790.0
San Antonio,TX,San Antonio-New Braunfels,Bexar County,105688.0,105854.0,105953.0,106138.0,105332.0,104510.0,103661.0,...,202197.0,203932.0,205660.0,207996.0,210339.0,213554.0,217479.0,222892.0,227804.0,232885.0

In [12]:
county_ZillowHomeValueIndex_smoothed_seasonalAdjusted = pd.read_csv(zillow_path_and_file[1])

zhvi_met_raw = county_ZillowHomeValueIndex_smoothed_seasonalAdjusted.set_index('RegionName').iloc[:,4:]
zhvi_met_raw.head()

,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,...,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31
RegionName,,,,,,,,,,,,,,,,,,,,,
Los Angeles County,CA,Los Angeles-Long Beach-Anaheim,6,37,215844.0,215954.0,216939.0,218725.0,220947.0,222976.0,...,697920.0,703339.0,707169.0,714510.0,721310.0,731773.0,745367.0,763327.0,782865.0,794703.0
Cook County,IL,Chicago-Naperville-Elgin,17,31,179036.0,179332.0,180023.0,181242.0,182650.0,183864.0,...,270260.0,271952.0,272579.0,274881.0,276674.0,279758.0,281570.0,284623.0,288222.0,292029.0
Harris County,TX,Houston-The Woodlands-Sugar Land,48,201,114780.0,114776.0,114548.0,114522.0,114470.0,114711.0,...,215456.0,217581.0,219642.0,222176.0,223370.0,225124.0,227279.0,232123.0,237506.0,243286.0
Maricopa County,AZ,Phoenix-Mesa-Scottsdale,4,13,144747.0,145128.0,145590.0,146500.0,147410.0,148094.0,...,328518.0,334850.0,342297.0,348724.0,357507.0,364287.0,376565.0,388074.0,401351.0,410842.0
San Diego County,CA,San Diego-Carlsbad,6,73,228658.0,229903.0,231251.0,234257.0,237139.0,240877.0,...,666030.0,676713.0,686391.0,694908.0,705295.0,719331.0,740422.0,764161.0,787828.0,802680.0

In [13]:
neighborhood_ZillowHomeValueIndex_smoothed_seasonalAdjusted = pd.read_csv(zillow_path_and_file[4])

zhvi_met_raw = neighborhood_ZillowHomeValueIndex_smoothed_seasonalAdjusted.set_index('RegionName').iloc[:,4:]
zhvi_met_raw.head()

,State,City,Metro,CountyName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,...,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31
RegionName,,,,,,,,,,,,,,,,,,,,,
Northeast Dallas,TX,Dallas,Dallas-Fort Worth-Arlington,Dallas County,152919.0,153015.0,153045.0,153298.0,153473.0,153779.0,...,349511.0,352199.0,356725.0,362165.0,367250.0,371000.0,374851.0,380332.0,385945.0,395018.0
Maryvale,AZ,Phoenix,Phoenix-Mesa-Scottsdale,Maricopa County,83271.0,83607.0,84020.0,84917.0,85818.0,86600.0,...,217745.0,221874.0,227592.0,230860.0,236779.0,241819.0,250354.0,257117.0,264016.0,269076.0
Paradise,NV,Las Vegas,Las Vegas-Henderson-Paradise,Clark County,152657.0,152616.0,152943.0,153584.0,154334.0,154980.0,...,288884.0,292090.0,295361.0,298475.0,301960.0,306035.0,313424.0,323097.0,332994.0,341428.0
Upper West Side,NY,New York,New York-Newark-Jersey City,New York County,391890.0,395925.0,398685.0,405754.0,413239.0,421867.0,...,1366798.0,1381298.0,1371749.0,1366293.0,1358496.0,1372387.0,1374302.0,1373921.0,1375277.0,1386160.0
South Los Angeles,CA,Los Angeles,Los Angeles-Long Beach-Anaheim,Los Angeles County,154000.0,153887.0,154138.0,154793.0,155805.0,156717.0,...,577806.0,579954.0,582101.0,587633.0,595565.0,604113.0,614690.0,626421.0,641772.0,653719.0